<!DOCTYPE html>
<html>
<head>
  <title>attacks <%= @enemy %> with <%= @tokimon %></title>
</head>
<body>
  <div>
  <div id="big_container">
  	<p id="page_title">The attack against <%= @enemy %> was unsuccessful!<br><%= @tokimon %> died while attempting to kill <%= @enemy %> and their tokimons!</p>
  </div>
  <div id="bot_bar"></div>
  </div>
</body>
</html>
